@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Puppies+Play&family=The+Nautigal:wght@400;700&family=Updock&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-primary: #0d2747;
    --secondary-main: #fff;
}

html {
    scroll-behavior: smooth;
}

.texture-overlay {
    position: absolute;
    inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0 */
    background-image: url('/images/white_bg.jpg');
    background-repeat: repeat;
    background-size: 1550px auto; /* Shrink width, auto height */
    opacity: 0.1;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -10;
}

.text-shadow-header {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

body.locked {
    overflow: hidden;
    height: 100%; /* Ensure the body takes full height */
}

.section-transition-secondary::before {
    content: '';
    width: 108%;
    height: 5%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    background: linear-gradient(180deg, var(--background-primary) 0%, var(--secondary-main) 100%);
}

#landing-section {
    width: 100%;
}

.ping {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animateImage {
    animation: zoom 5s linear 0s;
}

@keyframes zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.overlay {
    background: linear-gradient(45deg, hsla(0, 0%, 20%, 0.4) 0%, hsla(0, 0%, 7%, 0.4) 10%);
}

/* Loader css */
#loader-screen {
    display: grid;
}

#loader-screen svg {
    width: 18rem;
}
#loader-screen svg text {
    font-size: 4rem;
    stroke-width: 1;
    letter-spacing: 3px;
}

#loader-screen .animate-loader {
    stroke: white;
    animation: animate-stroke 4s forwards;
}

@keyframes animate-stroke {
    0% {
        fill: transparent;
        stroke: white;
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }

    50% {
        fill: transparent;
        stroke: white;
        stroke-width: 3;
    }

    80%,
    100% {
        fill: white;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}
