@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rouge+Script&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/images/white_background.png'); /* Set the background image */
    background-repeat: repeat; /* Repeat the image */
    background-size: auto; /* Keep the original size */
    background-position: top left; /* Start repeating from the top-left corner */
}

body.locked {
    overflow: hidden;
    height: 100%; /* Ensure the body takes full height */
}

#landing-section {
    width: 100%;
}

.ping {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animateImage {
    animation: zoom 5s linear 0s;
}

@keyframes zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.overlay {
    background: linear-gradient(45deg, hsla(0, 0%, 20%, 0.6) 0%, hsla(0, 0%, 7%, 0.6) 80%);
}

/* Loader css */
#loader-screen {
    display: grid;
}

#loader-screen svg {
    width: 18rem;
}
#loader-screen svg text {
    font-size: 4rem;
    stroke-width: 1;
    letter-spacing: 3px;
}

#loader-screen .animate-loader {
    stroke: white;
    animation: animate-stroke 4s forwards;
}

@keyframes animate-stroke {
    0% {
        fill: transparent;
        stroke: white;
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }

    50% {
        fill: transparent;
        stroke: white;
        stroke-width: 3;
    }

    80%,
    100% {
        fill: white;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}
